# General
.DS_Store
.vscode/
.idea/
**/__pycache__/
*.py[cod]
*$py.class

# Server
server/.env
server/venv/
server/ENV/
server/env/

# Client
client/node_modules/
client/dist/
client/dist-ssr/
client/*.local
client/npm-debug.log*

# Logs
*.log
